<?xml version='1.0' encoding='utf-8'?>
<widget id="pt.rlopes.tempo" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>TempoApp</name>
    <description>Mais uma aplicação de metereologia</description>
    <author email="dev@rlopes.pt" href="https://rlopes.pt">
        RLopes
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
     <platform name="android">
        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
        -->
        <icon src="www/assets/icons/ldpi.png" density="ldpi" />
        <icon src="www/assets/icons/mdpi.png" density="mdpi" />
        <icon src="www/assets/icons/hdpi.png" density="hdpi" />
        <icon src="www/assets/icons/xhdpi.png" density="xhdpi" />
        <icon src="www/assets/icons/xxhdpi.png" density="xxhdpi" />
        <icon src="www/assets/icons/xxxhdpi.png" density="xxxhdpi" />
    </platform>
</widget>
